

#header


.header__feature-letter
  color: $mainColor
  margin-top: -100px

.header__feature-letter--WM-only
  margin-left: -55px

.header__wrapper
  width: 100%
  max-width: 500px
  margin: 0 auto

.header__flex-container
  display: flex
  flex-wrap: nowrap

.header__flex-container--top
  position: relative
  top: -535px
  margin-bottom: -535px

.header__flex-container-box
  width: 250px
  margin: 0px
  text-align: center
  padding: 25px 5px
  border-bottom: double #000 9px
  border-top: solid #000 3px
  letter-spacing: 0.03em

.header__flex-container-box--left
  text-align: left
  border-left: solid #000 3px
  border-bottom: solid #000 3px
  border-top: none
  padding: 0 5px 5px 5px

.header__flex-container-box--right
  text-align: right
  border-bottom: solid #000 3px
  border-top: none
  padding: 0 2px 5px 5px

.header__h3--l-border
  border-left: solid #000 3px

.header__chevron4arrow
  position: relative
  top: -112px
  margin-left: 49.9%
  margin-right: 50.1%

.header__text
  padding-top: 55px

.header__icon
  color: $mainColor
  margin: 25px 218px 60px 218px
