h1
  font-family: 'Fjalla One', sans-serif
  text-transform: uppercase
  font-size: 7.25rem
  text-align: center
  padding: 12px 0 6px 0
  margin: 0
  width: 700px


h2
  font-family: 'Fjalla One', sans-serif
  text-transform: uppercase
  font-size: 2.5rem


h3
  font-family: 'Fjalla One', sans-serif
  font-size: 1.8rem
  margin: 0


/* h4 is for featured letter in top section only TO BE REVIEWED*/
h4
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 16rem
  color: #ffc600
  letter-spacing: -10px

/* h5 is the largest letter but is only use for the feature letter in top of page sections */
h5
  font-family: 'Montserrat', sans-serif
  font-weight: 500
  color: #ffc600
  font-size: 38rem
  text-align: center
  margin-top: -200px
  margin: 0


p
  font-family: 'Raleway', sans-serif
  color: #000
  line-height: 1.4rem
  margin: 0

li
  font-family: 'Raleway', sans-serif
  color: #000
  line-height: 1.4rem
  margin: 0
  padding-bottom: 10px
